@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

:root {
  --font-color: #000000;
  --primary-color: #fcd734;
  --primary-color-light: #ffff6b;
  --primary-color-dark: #c5a600;
  --box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  --border-radius: 0.4rem;
  --text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  --border-bottom: 0.3rem solid var(--primary-color-dark);
  --black: #000000;
  --white: #fff;
  --margin-10: 1rem;
  --margin-15: 1.5rem;
  --margin-20: 2rem;
  --margin-25: 2.5rem;
  --margin-30: 3rem;
  --margin-section: 5rem;
  --padding-10: 1rem;
  --padding-15: 1.5rem;
  --padding-20: 2rem;
  --padding-25: 2.5rem;
  --padding-30: 3rem;
}

html {
  font-size: 10px;
}

.wrapper {
  margin: 5rem;
  box-sizing: border-box;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  overflow: hidden;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  text-shadow: var(--text-shadow);
}

h1 {
  font-family: 'Grechen Fuemen', cursive;
  font-size: 3.2rem;
  letter-spacing: 0.2rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.872rem;
}

h4,
p {
  font-size: 1.6rem;
}

h5 {
  font-size: 1.328rem;
}

h6 {
  font-size: 1.072rem;
}

/*  */
/* HEADER  */
/*  */

.header {
  padding: 0 var(--padding-15);
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-color-dark);
  align-items: center;
}

.logo {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo > img {
  height: 5rem;
}

/* NAVIGATION MENU */

.nav-lists {
  display: flex;
  justify-content: space-evenly;
}

.nav-list {
  list-style-type: none;
}

.nav-list:not(last-child) {
  padding: 0.5rem 1rem;
}

.nav-list:last-child {
  padding: 0.5rem 0 0.5rem 1rem;
}

.nav-link {
  text-decoration: none;
  color: var(--black);
  text-transform: capitalize;
  font-weight: 500;
}

/*  */
/* HERO */
/*  */

.hero-container {
  background-image: url(../src/assets/pattern-randomized.svg);
  height: 75vh;
  display: flex;
  justify-content: space-between;
  padding: 0 10rem;
}

.hero-img {
  width: 50%;
}

.hero-caption {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  justify-self: flex-end;
}

.hero-title {
  margin: 0;
  font-size: 5rem;
}

.hero-subtitle {
  font-size: 4rem;
  margin: 0;
  font-weight: 600;
  margin-top: var(--margin-30);
  display: flex;
  align-items: center;
  justify-content: center;
}

.subtitle {
  border-bottom: var(--border-bottom);
}

.icon {
  height: 4rem;
  margin: 1rem;
}

.icon--earth {
  border-bottom: none;
  animation: earthSpin 4s linear 4s infinite;
}

.hero-img {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.hero-img > img {
  height: 90%;
}

@keyframes earthSpin {
  from {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* headings */
.section-heading {
  text-transform: uppercase;
  text-align: center;
  position: relative;
}

.section-heading::after {
  content: '';
  display: inline-block;
  width: 10rem;
  text-align: center;
  border-bottom: var(--border-bottom);
  position: absolute;
  bottom: -10%;
  right: 50%;
  transform: translateX(50%);
}

/*  */
/*  */
/* SERVICES */

.services-container {
  width: 100%;
  margin: var(--margin-section) 0;
}
